body {
    background: #eee;
    font-size: 75%;
    font-family: 'Open Sans',sans-serif;
    margin: 2rem;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:2rem;
	box-sizing: border-box;
	width:100%;
}