body {
    background: #eee;
    font-size: 75%;
    font-family: 'Open Sans',sans-serif;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:2rem;
	box-sizing: border-box;
	margin: 0;
	padding: 2rem;
}